
/* Navigation  Styles */
.inline-block {
    display: inline-block;
    vertical-align: top; 
}
.logo {
    width: 20%;
    padding: 1px;
}

img[src="Images/Logocommit.png"] {
    width: 90%;
    height: 300px;
}

nav {
    width: 70%;
    padding: 3%;
    text-align: right;
    font-size: 30px;
}
ul {
    width: 80%;
    margin-left: auto;
}
/* Hero  Styles */
.heroImg {
    height: 800px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: auto;

}

img[src="Images/Lizette.JPG"] {
    width: 20%;
    border-radius: 50%;

}

h1 {
    font-family: sans-serif;   
    font-size: 40px;
    color: #ad69ae;
    font-weight: bolder;
}
.content p { 
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    text-align-last: justify;
}

button {
    padding: 10px;
    font-size: 25px;
}

/* MyWork  Styles */

h2 {
    text-align: center; 
    padding: 50px;
    font-size: 40px;
    font-family: sans-serif;

}
.container {
    text-align: center;
    padding: 90px;
}

.workgrid {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    grid-template-areas: "palimage palcontent" "dalaimage dalacontent";

}

.palimage {
    grid-area: palimage;
}

img[src="/Images/PalProject.jpg"] {
    width: 100%
}



.palcontent {
    grid-area: palcontent;
    background: rgba(181,161, 141,.7);
    padding-left: 50px;
    height: 524px;

}

.dalaimage {
    grid-area: dalaimage;
}

img[src="Images/DALA.JPG"] {
    width: 100%;
      
}

.dalacontent {
    grid-area: dalacontent;
    background: rgba(181,161, 141,.7);
    padding-left: 50px;
    height: 524px;
    
}

h3 {
    font-size: 35px;
    
}

.palcontent p {
    font-size: 25px;

}
.dalacontent p {
    font-size: 25px;
}

h4 {
    font-size: 35px;
}


/* Footer  Styles */
footer {
    background: rgba(173, 105, 174, .20);
    padding: 30px;
}
.heading {
    font-size: 40px;
    font-family: sans-serif;
}


.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 0 auto;
   
}

.heading {
    text-align: center;
    justify-content: center;
    align-items: center;

}

img[src="Images/Instagram.png"] {
    width: 5%;
    padding: 10px;

}

img[src="Images/Linkedin.png"] {
    width: 5%;
    padding: 10px;

}

img[src="Images/Gmail.png"]{
    width: 5%;
    padding: 10px;
}

/* Media Queries  Styles */

@media only screen and (max-width: 600px){
        .workgrid {
            display: grid;
            grid-template-columns:50% 50%;
            grid-template-rows: 1fr 1fr;
            row-gap: 0px;
            grid-template-areas: "palimage" "palcontent" "dalaimage" "dalacontent";}
      
    .dalacontent {
        grid-area: dalacontent;
        background: rgba(181,161, 141,.7);
        padding-left: 5%;
        width: 90%;
        }
      
    h4 {
        font-size: 25px;}
    .dalacontent p {
          font-size: 20px;}
      
    .palcontent {
        grid-area: palcontent;
        background: rgba(181,161, 141,.7);
        padding-left: 5%;
        width: 90%;}
    h3 {
        font-size: 25px;
        
    }
    
    .palcontent p{
        font-size: 20px;
    
    }  
      
    button {
        margin-left: 3px;
        font-size: 15px;
    }

    .dalaimage {
        width: 100%;
        position: relative;
    }

    .dalaimage img {
        position:absolute;
        bottom:0;
    }

    .palimage {
        width: 100%;
        position: relative;
    }

      
}

    



